<section class="welcome">
    <%- messages() %>
    <h2 class="lora-normal">Welcome to CSE Motors!</h2>
    <div class="welcome-1">
        <div class="welcome-2">
            <ul>
                <li><b>DMC Delorean</b></li>
                <li>3 cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice</li>
            </ul>
            <button aria-label="click to own DMC Delorean">Own Today</button> 
        </div>
        <picture>
            <source srcset="images/vehicles/delorean.jpg" media="(min-width: 768px)">
            <source srcset="images/vehicles/delorean-tn.jpg" media="(max-width: 767px)">
            <img src="images/vehicles/delorean-tn.jpg" alt="DMC Delorean">
          </picture>
    </div>
</section>
<section class="reviewUpgrade">
    <section class="reviews">
        <h2 class="lora-normal"><b>DMC Delorean Reviews</b></h2>
        <ul>
            <li>"So fast it's almost like travelling in time."(4/5)</li>
            <li>"Coolest ride on the road."(4/5)</li>
            <li>"I'm feeling Mcfly."(5/5)</li>
            <li>"The most futuristic ride of our day."(4.5/5)</li>
            <li>"80's livin and I love it!."(5/5)</li>
        </ul>
    </section>
    <section class="upgrades">
        <h2 class="lora-normal"><b>Delorean Upgrades</b></h2>
        <div class="upgrades-1">
            <div class="upgrades-2">
                <div><img src="images/upgrades/flux-cap.png" alt="flux capacitor"></div>
                <a aria-label="flux capacitor" href="https://backtothefuture.fandom.com/wiki/Flux_capacitor">Flux Capacitor</a>
            </div>
            <div class="upgrades-2">
                <div><img src="images/upgrades/flame.jpg" alt="Flame Decals"></div>
                <a aria-label="flame decals" href="https://www.istockphoto.com/illustrations/flame-decals">Flame Decals</a>
            </div>
            <div class="upgrades-2">
                <div><img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers"></div>
                <a aria-label="bumper sticker" href="https://en.wikipedia.org/wiki/Bumper_sticker">Bumper Stickers</a>
            </div>
            <div class="upgrades-2">
                <div><img src="images/upgrades/hub-cap.jpg" alt="Hub Caps"></div>
                <a aria-label="hub caps" href="https://en.wikipedia.org/wiki/Hubcap">Hub Caps</a>
            </div>
        </div>
    </section>
</section>
